# Managed by ansible
{% for k, v in dpb_proot_config | dictsort() %}
{% if k == 'actions' %}
{{ k }}=
{% for i in v %}
  {{ i }}
{% endfor %}
{% elif k == 'mkconf_lines' %}
{% for i in v %}
{{ k }}={{ i }}
{% endfor %}
{% else %}
{{ k }}={{ v }}
{% endif %}
{% endfor %}
